<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Empleados Producion</title>
</head>
<body>
    <h1>Lista de Empleados</h1>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Edad</th>
            <th>Cargo</th>
            <th>Salario</th>
        </tr>
        {% for empleado in empleados %}
        <tr>
            <td>{{ empleado.ID }}</td>
            <td>{{ empleado.Nombre }}</td>
            <td>{{ empleado.Edad }}</td>
            <td>{{ empleado.Cargo }}</td>
            <td>{{ empleado.Salario }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
